{% extends 'base.html.twig' %}

{% block title %}New Presentateur{% endblock %}

{% block body %}
    <h1>Create new Presentateur</h1>

    {{ include('presentateur/_form.html.twig') }}

    <a href="{{ path('app_presentateur_index') }}">back to list</a>
{% endblock %}
